html

    head

        title= meme.getName()

    style
        include reset.css
        include style.css

    body
        a(href="../..") Powrót do strony głównej
        p() Witaj, nieznajomy
        form(action=`/login`, method='POST')
            input(type='hidden', name='_csrf', value=csrfToken)
            button(type='submit')='Zaloguj'
        h1= meme.getName()

        img(src=meme.getUrl())

        p() #{error}

        table
            tbody
                tr
                    th Kto zmienił
                    th
                    th Cena
                each el in meme.getHistory()
                    tr
                        td
                            p=el.username
                        td
                            p="->"
                        td
                            p=el.price
                        
                        