html

    head

        title= meme.getName()

    style
        include reset.css
        include style.css

    body
        a(href="../..") Powrót do strony głównej
        h1= meme.getName()

        img(src=meme.getUrl())

        form(action=`../meme/${meme.getId()}`, method='POST')
            input(type='hidden', name='_csrf', value=csrfToken)
            p
            | Zmień cenę: 
            input(type='text', name='price', value='')
            
            button(type='submit') Dodaj cenę

        table
            tbody
                tr
                    th Data
                    th
                    th Cena
                each el in meme.getHistory()
                    tr
                        td
                            p=el.date.toString().slice(4,24)
                        td
                            p="->"
                        td
                            p=el.price + " zł "
                        
                        