html

    head

        title= meme.getName()

    style
        include reset.css
        include style.css

    body
        a(href="../..") Powrót do strony głównej
        h1= meme.getName()

        img(src=meme.getUrl())

        //- ul

        //-     each el in meme.getHistory()

        //-         li

        //-            a(href="meme/" + meme.id) #{meme.name}

        //-            img(src=meme.url)

        form(action=`../meme/${meme.getId()}`, method='POST')
            p
            | Zmień cenę: 
            input(type='text', name='price', value='')
            |          year: 
            button(type='submit') Dodaj cenę

        table
            tbody
                each el in meme.getHistory()
                    tr
                        p=el